Django==5.2.1
djangorestframework==3.16.0
django-allauth==0.65.7
django-crispy-forms==2.0
psycopg2-binary==2.9.10
PyMySQL==1.1.1
python-dotenv==1.0.0
requests==2.32.3
cryptography==44.0.3
charset-normalizer==3.4.2
certifi==2025.4.26
PyJWT==2.10.1
pyparser==2.22
sqlparse==0.5.3